In [7]:
%matplotlib notebook

In [8]:
import os
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [9]:
# Take in Glassdoor data and read it into pandas
glassdoor_62017 = "Resources/LPR_data-2017-06.csv"
glassdoor_72017 = "Resources/LPR_data-2017-07.csv"
glassdoor_82017 = "Resources/LPR_data-2017-08.csv"
glassdoor_92017 = "Resources/LPR_data-2017-09.csv"
glassdoor_102017 = "Resources/LPR_data-2017-10.csv"
glassdoor_112017 = "Resources/LPR_data-2017-11.csv"
glassdoor_122017 = "Resources/LPR_data-2017-12.csv"

glassdoor_12018 = "Resources/LPR_data-2018-01.csv"
glassdoor_22018 = "Resources/LPR_data-2018-02.csv"
glassdoor_32018 = "Resources/LPR_data-2018-03.csv"
glassdoor_42018 = "Resources/LPR_data-2018-04.csv"
glassdoor_52018 = "Resources/LPR_data-2018-05.csv"
glassdoor_62018 = "Resources/LPR_data-2018-06.csv"
glassdoor_72018 = "Resources/LPR_data-2018-07.csv"
glassdoor_82018 = "Resources/LPR_data-2018-08.csv"
glassdoor_92018 = "Resources/LPR_data-2018-09.csv"
glassdoor_102018 = "Resources/LPR_data-2018-10.csv"
glassdoor_112018 = "Resources/LPR_data-2018-11.csv"
glassdoor_122018 = "Resources/LPR_data-2018-12.csv"

glassdoor_12019 = "Resources/LPR_data-2019-01.csv"
glassdoor_22019 = "Resources/LPR_data-2019-02.csv"

#created a dataframe for each csv file
glassdoor_62017_df = pd.read_csv(glassdoor_62017, encoding="utf-8")
glassdoor_72017_df = pd.read_csv(glassdoor_72017,encoding="utf-8")
glassdoor_82017_df = pd.read_csv(glassdoor_82017,encoding="utf-8")
glassdoor_92017_df = pd.read_csv(glassdoor_92017,encoding="utf-8")
glassdoor_102017_df = pd.read_csv(glassdoor_102017,encoding="utf-8")
glassdoor_112017_df = pd.read_csv(glassdoor_112017,encoding="utf-8")
glassdoor_122017_df = pd.read_csv(glassdoor_122017,encoding="utf-8")
glassdoor_12018_df = pd.read_csv(glassdoor_12018,encoding="utf-8")
glassdoor_22018_df = pd.read_csv(glassdoor_22018,encoding="utf-8")
glassdoor_32018_df = pd.read_csv(glassdoor_32018,encoding="utf-8")
glassdoor_42018_df = pd.read_csv(glassdoor_42018,encoding="utf-8")
glassdoor_52018_df = pd.read_csv(glassdoor_52018,encoding="utf-8")
glassdoor_62018_df = pd.read_csv(glassdoor_62018,encoding="utf-8")
glassdoor_72018_df = pd.read_csv(glassdoor_72018,encoding="utf-8")
glassdoor_82018_df = pd.read_csv(glassdoor_82018,encoding="utf-8")
glassdoor_92018_df = pd.read_csv(glassdoor_92018,encoding="utf-8")
glassdoor_102018_df = pd.read_csv(glassdoor_102018,encoding="utf-8")
glassdoor_112018_df = pd.read_csv(glassdoor_112018,encoding="utf-8")
glassdoor_122018_df = pd.read_csv(glassdoor_122018,encoding="utf-8")
glassdoor_12019_df = pd.read_csv(glassdoor_12019,encoding="utf-8")
glassdoor_22019_df = pd.read_csv(glassdoor_22019,encoding="utf-8")

In [10]:
#created massive data frame
glassdoor_df = glassdoor_62017_df.append([glassdoor_72017_df,glassdoor_82017_df,glassdoor_92017_df,glassdoor_102017_df,glassdoor_112017_df,glassdoor_122017_df,glassdoor_12018_df,glassdoor_22018_df,glassdoor_32018_df,glassdoor_42018_df,glassdoor_52018_df,glassdoor_62018_df,glassdoor_72018_df,glassdoor_82018_df,glassdoor_92018_df,glassdoor_102018_df,glassdoor_112018_df,glassdoor_122018_df,glassdoor_12019_df,glassdoor_22019_df])

In [11]:
#create month and yr int columns
glassdoor_df["mnth"]=glassdoor_df["Month"].str.split('-', expand=False).str[1].astype(str).astype(int)
glassdoor_df["yr"]=glassdoor_df["Month"].str.split('-', expand=False).str[0].astype(str).astype(int)
# df['Col2'] = df['Col1'].str.split('_').str[1]
glassdoor_df.head()

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY,mnth,yr
0,National,Quick Facts,2017-06,U.S. Median Pay,U.S. Median Pay,51324.0,0.017,6,2017
1,Atlanta,Quick Facts,2017-06,Metro Median Pay,Metro Median Pay,52763.0,0.009,6,2017
2,Atlanta,Quick Facts,2017-06,U.S. Median Pay,U.S. Median Pay,51324.0,0.017,6,2017
3,Atlanta,Quick Facts,2017-06,Job Openings,Job Openings,103189.0,0.119,6,2017
4,Atlanta,Quick Facts,2017-04,Labor Force Size,Labor Force Size,3008943.0,0.033,4,2017

In [12]:
#consider creating a csv file with the above information
#glassdoor_df.to_csv("./glassdoor_data.csv", encoding="utf-8", index=True, header=True)

In [13]:
type(glassdoor_df.iloc[1,7])

numpy.int32

In [14]:
glassdoor_df['Dimension Type'].unique()

array(['Quick Facts', 'Job Title', 'Company Size', 'Industry',
       'Timeseries'], dtype=object)

In [15]:
glassdoor_df['Metro'].unique()

array(['National', 'Atlanta', 'New York City', 'Los Angeles',
       'Philadelphia', 'Houston', 'Seattle', 'San Francisco', 'Chicago',
       'Boston', 'Washington DC', 'New-York-City', 'Los-Angeles',
       'San-Francisco', 'Washington-DC', 'U.S.'], dtype=object)

In [16]:
# Split massive dataframe into separate dataframes for:
# Job Title
# Company Size
# Industry
# Timeseries
# Quick Facts
glassdoor_job_title = glassdoor_df[glassdoor_df['Dimension Type']=='Job Title']
glassdoor_company_size = glassdoor_df[glassdoor_df['Dimension Type']=='Company Size']
glassdoor_industry = glassdoor_df[glassdoor_df['Dimension Type']=='Industry']
glassdoor_timeseries = glassdoor_df[glassdoor_df['Dimension Type']=='Timeseries']
glassdoor_quick_facts = glassdoor_df[glassdoor_df['Dimension Type']=='Quick Facts']

In [29]:
glassdoor_job_title.reset_index(drop=True,inplace=True)
glassdoor_job_title.to_csv("Resources/glassdoor_job_title_data.csv", encoding="utf-8", index=False, header=True)
glassdoor_job_title.head()

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY,mnth,yr
0,National,Job Title,2017-06,Software Engineer,Median Base Pay,85880.0,0.028,6,2017
1,National,Job Title,2017-06,Programmer Analyst,Median Base Pay,67889.0,0.026,6,2017
2,National,Job Title,2017-06,Consultant,Median Base Pay,71306.0,0.006,6,2017
3,National,Job Title,2017-06,Project Manager,Median Base Pay,72571.0,0.004,6,2017
4,National,Job Title,2017-06,Store Manager,Median Base Pay,48199.0,0.028,6,2017

In [30]:
glassdoor_company_size.reset_index(drop=True,inplace=True)
glassdoor_company_size.to_csv("Resources/glassdoor_company_size.csv", encoding="utf-8", index=False, header=True)

In [31]:
glassdoor_industry.reset_index(drop=True,inplace=True)
glassdoor_industry.to_csv("Resources/glassdoor_industry.csv", encoding="utf-8", index=False, header=True)

In [32]:
glassdoor_timeseries.reset_index(drop=True,inplace=True)
glassdoor_timeseries.to_csv("Resources/glassdoor_timeseries.csv", encoding="utf-8", index=False, header=True)

In [33]:
glassdoor_quick_facts.reset_index(drop=True,inplace=True)
glassdoor_quick_facts.to_csv("Resources/glassdoor_quick_facts.csv", encoding="utf-8", index=False, header=True)