In [30]:
%matplotlib notebook

In [31]:
import os
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [39]:
# Take in Glassdoor data and read it into pandas
glassdoor_62017 = "Resources/LPR_data-2017-06.csv"
glassdoor_72017 = "Resources/LPR_data-2017-07.csv"
glassdoor_82017 = "Resources/LPR_data-2017-08.csv"
glassdoor_92017 = "Resources/LPR_data-2017-09.csv"
glassdoor_102017 = "Resources/LPR_data-2017-10.csv"
glassdoor_112017 = "Resources/LPR_data-2017-11.csv"
glassdoor_122017 = "Resources/LPR_data-2017-12.csv"

glassdoor_12018 = "Resources/LPR_data-2018-01.csv"
glassdoor_22018 = "Resources/LPR_data-2018-02.csv"
glassdoor_32018 = "Resources/LPR_data-2018-03.csv"
glassdoor_42018 = "Resources/LPR_data-2018-04.csv"
glassdoor_52018 = "Resources/LPR_data-2018-05.csv"
glassdoor_62018 = "Resources/LPR_data-2018-06.csv"
glassdoor_72018 = "Resources/LPR_data-2018-07.csv"
glassdoor_82018 = "Resources/LPR_data-2018-08.csv"
glassdoor_92018 = "Resources/LPR_data-2018-09.csv"
glassdoor_102018 = "Resources/LPR_data-2018-10.csv"
glassdoor_112018 = "Resources/LPR_data-2018-11.csv"
glassdoor_122018 = "Resources/LPR_data-2018-12.csv"
glassdoor_12019 = "Resources/LPR_data-2019-01.csv"
glassdoor_22019 = "Resources/LPR_data-2019-02.csv"


#created a dataframe for each csv file


glassdoor_62017_df = pd.read_csv(glassdoor_62017, encoding="utf-8")
glassdoor_72017_df = pd.read_csv(glassdoor_72017,encoding="utf-8")
glassdoor_82017_df = pd.read_csv(glassdoor_82017,encoding="utf-8")
glassdoor_92017_df = pd.read_csv(glassdoor_92017,encoding="utf-8")
glassdoor_102017_df = pd.read_csv(glassdoor_102017,encoding="utf-8")
glassdoor_112017_df = pd.read_csv(glassdoor_112017,encoding="utf-8")
glassdoor_122017_df = pd.read_csv(glassdoor_122017,encoding="utf-8")
glassdoor_12018_df = pd.read_csv(glassdoor_12018,encoding="utf-8")
glassdoor_22018_df = pd.read_csv(glassdoor_22018,encoding="utf-8")
glassdoor_32018_df = pd.read_csv(glassdoor_32018,encoding="utf-8")
glassdoor_42018_df = pd.read_csv(glassdoor_42018,encoding="utf-8")
glassdoor_52018_df = pd.read_csv(glassdoor_52018,encoding="utf-8")
glassdoor_62018_df = pd.read_csv(glassdoor_62018,encoding="utf-8")
glassdoor_72018_df = pd.read_csv(glassdoor_72018,encoding="utf-8")
glassdoor_82018_df = pd.read_csv(glassdoor_82018,encoding="utf-8")
glassdoor_92018_df = pd.read_csv(glassdoor_92018,encoding="utf-8")
glassdoor_102018_df = pd.read_csv(glassdoor_102018,encoding="utf-8")
glassdoor_112018_df = pd.read_csv(glassdoor_112018,encoding="utf-8")
glassdoor_122018_df = pd.read_csv(glassdoor_122018,encoding="utf-8")

glassdoor_12019_df = pd.read_csv(glassdoor_12019,encoding="utf-8")
glassdoor_22019_df = pd.read_csv(glassdoor_22019,encoding="utf-8")

In [40]:
#created massive data frame
glassdoor_df = glassdoor_62017_df.append([glassdoor_72017_df,glassdoor_82017_df,glassdoor_92017_df,glassdoor_102017_df,glassdoor_112017_df,glassdoor_122017_df,glassdoor_12018_df,glassdoor_22018_df,glassdoor_32018_df,glassdoor_42018_df,glassdoor_52018_df,glassdoor_62018_df,glassdoor_72018_df,glassdoor_82018_df,glassdoor_92018_df,glassdoor_102018_df,glassdoor_112018_df,glassdoor_122018_df,glassdoor_12019_df,glassdoor_22019_df])

In [59]:
glassdoor_df["mnth"]=glassdoor_df["Month"].str.split('-', expand=False).str[1].astype(str).astype(int)
glassdoor_df["yr"]=glassdoor_df["Month"].str.split('-', expand=False).str[0].astype(str).astype(int)
# df['Col2'] = df['Col1'].str.split('_').str[1]
glassdoor_df.head()

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY,yr,mnth
0,National,Quick Facts,2017-06,U.S. Median Pay,U.S. Median Pay,51324.0,0.017,2017,6
1,Atlanta,Quick Facts,2017-06,Metro Median Pay,Metro Median Pay,52763.0,0.009,2017,6
2,Atlanta,Quick Facts,2017-06,U.S. Median Pay,U.S. Median Pay,51324.0,0.017,2017,6
3,Atlanta,Quick Facts,2017-06,Job Openings,Job Openings,103189.0,0.119,2017,6
4,Atlanta,Quick Facts,2017-04,Labor Force Size,Labor Force Size,3008943.0,0.033,2017,4

In [61]:
#consider creating a csv file with the above information

In [60]:
type(glassdoor_df.iloc[1,7])

numpy.int32

TypeError: cannot convert the series to <class 'int'>